@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
body {
	margin: 0;
	font-family: 'Mansalva', cursive;
	background: #D23333;
}

h1 {
	color: white;
}

#logo {
	height: 80px;
	width: 80px;
}

.container {
	display: flex;
	align-items: : center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
}